---
layout: default
---

<div>
  {% for post in site.posts %}
    <article>
      <span><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      
      <div class="entry">
        {% if post.content contains "<!-- more -->" %}
          {{ post.content | split:"<!-- more -->" | first % }}
        {% else %}
          {{ post.content }}
        {% endif %}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
