---
layout: default
permalink: /tags/
---

<ul>
{% for tag in site.tags %}
  <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
    <a href="#{{ tag | first | slugize }}">
      {{ tag | first }}
    </a>
  </li>
{% endfor %}
</ul>

<div>
{% for tag in site.tags %}
  <article>
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <h4 id="{{ tag_name | slugize }}">{{ tag_name }} </h4>
    <ul>
      {% for post in site.tags[tag_name] %}
      <li>
        <a href="{{ post.url }}">{{post.title}} (<time datetime="{{ post.date | date_to_xmlschema }}"><span class="date_prefix">Written on </span>{{ post.date | date: "%B %d, %Y" }}</time>)</a>
      </li>
      {% endfor %}
    </ul>
  </article>
{% endfor %}
</div>
