---
layout: default
permalink: /tags/
---

<ul class="tags">
{% for tag in site.tags %}
  <li>
    <a href="#{{ tag | first | slugize }}">
      {{ tag | first }}
    </a>
  </li>
{% endfor %}
</ul>

<div class="tags">
{% for tag in site.tags %}
  <article>
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <h4 id="{{ tag_name | slugize }}">{{ tag_name }} </h4>
    <ul>
      {% for post in site.tags[tag_name] %}
      <li>
        <a href="{{ post.url }}" class="title">{{post.title}}</a>&nbsp;&nbsp;
        <time datetime="{{ post.date | date_to_xmlschema }}"><span class="date_prefix">Written on </span>{{ post.date | date: "%B %d, %Y" }}</time>
        <div class="excerpt">{{ post.excerpt }}</div>
      </li>
      {% endfor %}
    </ul>
  </article>
{% endfor %}
</div>
