---
layout: page
title: Tags
permalink: /tags/
---

<ul>
{% for tag in site.tags %}
  <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
    <a href="#{{ tag | first | slugize }}">
      {{ tag | first }}
    </a>
  </li>
{% endfor %}
</ul>

<div>
{% for tag in site.tags %}
  <div>
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <h4 id="{{ tag_name | slugize }}">{{ tag_name }}</h4>
    <ul>
      {% for post in site.tags[tag_name] %}
      <li>
        <a href="{{ post.url }}">{{post.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
</div>
