{% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}">dribbble.com/{{ site.footer-links.dribbble }}</a>{% endif %}
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}">{{ site.footer-links.email }}</a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}">facebook.com/{{ site.footer-links.facebook }}</a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}">flickr.com/{{ site.footer-links.flickr }}</a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}">github.com/{{ site.footer-links.github }}</a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}">instagram.com/{{ site.footer-links.instagram }}</a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">linkedin.com/in/{{ site.footer-links.linkedin }}</a>{% endif %}
{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}">pinterest.com/{{ site.footer-links.pinterest }}</a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml">RSS</a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}">twitter.com/{{ site.footer-links.twitter }}</a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">stackoverflow.com/{{ site.footer-links.stackoverflow }}</a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}">youtube.com/{{ site.footer-links.youtube }}</a>{% endif %}
{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}">plus.google.com/{{ site.footer-links.googleplus }}</a>{% endif %}
